/* General styles */
#paypal-button {
  background: url(../assets/paypal-simple.png) no-repeat;
  width: 123px;
  height: 40px;
  margin-left: -5px;
  cursor: pointer;
}

body {
  overflow-y: scroll;
  font: 15px/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#header {
  background: #dcdcdc;
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 84px;
  z-index: 1;
  border-bottom: 1px solid #e9e9e9;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}

#main_nav li {
  float: left;
  height: 64px;
  padding: 7px 24px;
}
#main_nav li.social {
  text-indent: -9999px;
}
#small_nav {
  display: none;
  cursor: pointer;
  border: none;
  position: absolute;
  bottom: 25px;
  right: 45px;
  width: 42px;
  height: 30px;
  outline: none;
  background: #f1f1f1;
}
#small_nav:after {
  content: '';
  width: 42px;
  height: 4px;
  display: block;
  position: absolute;
  top: 3px;
  right: 0;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #6b6969;
  box-shadow: 0 10px 0 #6b6969, 0 20px 0 #6b6969;
}

.kamino-logo {
  margin: 10px 0px 0px 10px;
}
.social .feedback {
  background: transparent url(../icons/smiley.png) no-repeat left top;
  object-fit: contain;
  height: 30px;
  width: 30px;
  display: -webkit-box;
}
.social .facebook {
  background: transparent url(../icons/facebook-sprite.png) no-repeat left top;
  height: 23px;
  width: 11px;
  display: -webkit-box;
}
.social .gplus {
  background: transparent url(../icons/gplus-sprite.png) no-repeat left top;
  height: 22px;
  width: 26px;
  display: -webkit-box;
}
.social .twitter {
  background: transparent url(../icons/twitter-sprite.png) no-repeat left top;
  height: 22px;
  width: 26px;
  display: -webkit-box;
}
.social .facebook:hover,
.social .twitter:hover {
  background-position: left bottom;
  transition: none;
}
.social .gplus:hover {
  background-position: left -26px;
  transition: none;
}

.left {
  float: left;
}
.right {
  float: right;
}

/* Tabpages */
#tabpages {
  position: relative;
  display: none;
  margin: 0px auto 35px;
  max-width: 1020px;
  padding-top: 55px;
}
.ui-tabs-panel {
  margin: 10px;
}

/* Screen resolution support */
@media screen and (max-width: 1050px) {
  .social {
    display: none;
  }
}

@media screen and (max-width: 810px) {
  #small_nav {
    display: block;
  }
}

input[type='text'],
textarea {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  border: #fff 1px solid;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #dddddd;
}

#generaloptions {
  margin-top: 40px;
}

#status {
  color: green;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: darkgray;
}
