<div class="discussion-sidebar-item sidebar-kamino">
    <button class="discussion-sidebar-heading kamino-heading discussion-sidebar-toggle js-menu-target">
    <svg class="octicon octicon-gear" viewBox="0 0 14 16" version="1.1" width="14" height="16" aria-hidden="true">
        <path fill-rule="evenodd" d="M14 8.77v-1.6l-1.94-.64-.45-1.09.88-1.84-1.13-1.13-1.81.91-1.09-.45-.69-1.92h-1.6l-.63 1.94-1.11.45-1.84-.88-1.13 1.13.91 1.81-.45 1.09L0 7.23v1.59l1.94.64.45 1.09-.88 1.84 1.13 1.13 1.81-.91 1.09.45.69 1.92h1.59l.63-1.94 1.11-.45 1.84.88 1.13-1.13-.92-1.81.47-1.09L14 8.75v.02zM7 11c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3z"></path>
    </svg>
    Kamino
    </button>
    
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-sm btn-primary quickClone">Clone to</button>
        <button type="button" class="btn btn-sm btn-primary dropdown-toggle kaminoButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>

        <div class="dropdown-menu repoDropdownContainer">
            <input class="repoSearch" type="text" placeholder="Search for a repo..." />
            <hr/>
            <ul class="repoDropdown"></ul>
        </div>
    </div>
</div>