<div class="sidebar-kamino">
    <h3 class="discussion-sidebar-heading">Kamino</h3>
    <div class="btn-group">
        <button type="button" class="btn btn-sm btn-primary quickClone">Clone to</button>
        <button type="button" class="btn btn-sm btn-primary dropdown-toggle kaminoButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu repoDropdown"></ul>
    </div>
</div>