<div id="kaminoModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Kamino - Confirm Clone</h4>
            </div>
            <div class="modal-body">
                <p class="confirmText">{{confirmText}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary cloneNow" style="margin-right:20px;" data-dismiss="modal" data-repo="">Yes</button>
                <button type="button" class="btn btn-info noClone" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>